{% extends 'base.html' %}

{% block title %}
    Artist Page
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-4">{{ artist.name }}</h1>
        <h2 class="mb-4">Popular Songs</h2>
        <p class="lead">Number of Songs: {{ songs.length }}</p>
        <ol class="list-group">
            {% for song in songs %}
                <li class="list-group-item">
                    <a href="{% url 'song' song.id %}" class="text-decoration-none">{{ song }}</a>
                </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}
